/* Color */
$color-blue-light: #4a70ba;
$color-blue-light-2 : #0350aa;
$color-blue-dark: #001457;
$color-gold: #e5c242;
$color-text-grey: #444;
//$color-green: #39b54a;
$color-cyan: #00afef;
$color-gray: #a1a1a1;
$color-blue-super-light: #f4faff;

$color-red-super-light: #ff8b94;
$color-red-light: #f1646c;
$color-orange: #fdd20a;
$color-purple: #da3ea6;
//$color-blue: #13508d;
$color-blue : #183186;
$color-green: #07a800;
$color-pink-light: #ffc8d7;
$color-cyan-green: #a8e6cf;

$color-red : #ca0000;

/* Responsive Size */
/**/
$res-small-mobile: "max-width: 360px";
$res-mobile: "max-width: 767px";
$res-tablet: "max-width: 992px";
$res-small-desktop: "max-width: 1180px";
$res-medium-desktop: "max-width: 1480px";
$res-large-desktop: "max-width: 1700px";
$res-no-mobile: "min-width: 767px"; /* Misc */
//$em-base: 18;
$base-url: '/assets/' !default;


// Easing
$EasingQuadIn: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$EasingCubicIn: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$EasingQuartIn: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$EasingQuintIn: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$EasingSineIn: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$EasingExpoIn: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$EasingCircIn: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$EasingBackIn: cubic-bezier(0.600, 0, 0.735, 0.045);
$EasingQuadOut: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$EasingCubicOut: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$EasingQuartOut: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$EasingQuintOut: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$EasingSineOut: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$EasingExpoOut: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$EasingCircOut: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$EasingBackOut: cubic-bezier(0.175, 0.885, 0.320, 1);
$EasingQuadInOut: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$EasingCubicInOut: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$EasingQuartInOut: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$EasingQuintInOut: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$EasingSineInOut: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$EasingExpoInOut: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$EasingCircInOut: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$EasingBackInOut: cubic-bezier(0.680, 0, 0.265, 1);
$EasingOut: cubic-bezier(.37,.15,.32,.94);
$EasingBack: cubic-bezier(.21,1.8,.72,.93);
