{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main" data-module="appleAvenue" style="background : url('https://i.imgur.com/BEVTtQE.jpeg') no-repeat center; background-size: cover;">
		<canvas id="cv-apple-avenue"></canvas>
		<ul style="padding : 0; margin : 0;">
			<li id="maskLogo" data-src="{{assets_url}}/images/materials/masks/logo_wizzard.png"></li>
			<li id="maskLogoText" data-src="{{assets_url}}/images/materials/masks/logo_wizzard_text.png"></li>
		</ul>
	</main>
{% endblock %}
