{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main" data-module="">
        <div data-module="blobBubble2d">
            <canvas id="blob-bubble-cv"></canvas>
        </div>
    </main>
{% endblock %}
