{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main" data-module="fontLoaderTest">
		<canvas id="cv-font-loader"></canvas>
        <p id="src-font" data-src="{{assets_url}}/webglFonts/helvetiker-bold.typeface.json"></p>
	</main>
{% endblock %}
