{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main" class="mediapipe__wrapper" data-module="mediapipeFace">
		<div class="mediapipe__container">
			<div class="mediapipe__material-img actived">
				<img id="mediapipe-image-input" src="{{assets_url}}/mediapipe/multi-faces.jpg"/>
			</div>
            <div class="mediapipe__material-vid">
                <video id="mediapipe-vid-input" controls>
                    <source src="{{assets_url}}/mediapipe/face-video.mp4" type="video/mp4" />
                </video>
            </div>
			<div class="mediapipe__canvas">
                <canvas id="mediapipe-output" width="1280px" height="720px"></canvas>
            </div>
		</div>

	</main>
	{% block before_js %}
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>
	{% endblock %}
{% endblock %}
