{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main" class="" data-module="replicaMidWam">
		<canvas id="cv-midwam"></canvas>
		<span id="src-model-glb" class="hidden" data-src="{{assets_url}}/3dmodel/gltf/minion_stuart_v2.glb"></span>
	</main>
{% endblock %}
