{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main" data-module="loadModel">
		<canvas id="cv-load-model"></canvas>
        <span hidden id="src-model-glb" data-src="{{assets_url}}/3dmodel/gltf/ufo2.glb"></span>
	</main>
{% endblock %}
