{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main" data-module="soapBubble">
        <img id="js-banner-soap" src="{{assets_url}}/images/materials/banner/banner-text-1.png" style="opacity : 0; visiblity : hidden; position : absolute; width : 0; height : 0;" />
		<canvas id="cv-soap-bubble"></canvas>
	</main>
{% endblock %}
