{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main" data-module="waterSurface">
		<canvas id="cv-water-surface"></canvas>
		<span id="pathSrcShangHaiCubeMap" data-path="{{assets_url}}/env/cubemap/shanghai/" ></span>
		<span id="pathSrcCubeMapOutSide" data-path="{{assets_url}}/env/cubemap/building_outside/" ></span>
		<span id="pathSrcCubeMapCityNight" data-path="{{assets_url}}/env/cubemap/city_night/" ></span>
	</main>
{% endblock %}
