.mediapipe {
    &__wrapper {
        background-color: rgb(110, 108, 108) !important;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__container {
        position: relative;
        box-sizing: none;
        font-size: 0;
    }
    &__material-img {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        img {
            width: 100%;
            height: auto;
        }
        display: none;
        &.active {
            display: inline-block;
            @include screen(mobile) {
                display: block;
                width: 100%;
            }
        }
    }
    &__material-vid {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        video {
            width: 100%;
            height: auto;
        }
        display: none;
        &.active {
            display: inline-block;
            @include screen(mobile) {
                display: block;
                width: 100%;
            }
        }
    }
    &__canvas {
        width: 50%;
        min-height: 300px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        canvas {
            width: 100% !important;
            height: auto !important;
            &.-mirror {
                transform: scaleX(-1);
            }
        }
        @include screen(mobile) {
            display: block;
            width: 100%;
        }
    }
    &__masks2d {
        font-size: 0;
        img {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            height: auto;
        }
    }
}
